@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- TEMA ACTUAL: Earth Luxury (Tierra/Lujo) --- */
    
    /* Color Principal (Base Tierra) */
    --color-primary: #885f43; 
    
    /* Color Secundario (Texto Soft Black) */
    --color-secondary: #1d1d1b;
    
    /* Color de Acento (Tierra Claro) */
    --color-accent: #c39a7c;
    
    /* Fondo de la app (Off-white cálido) */
    --color-background: #f9f8f6;
    
    /* Texto principal (Soft Black) */
    --color-text: #1d1d1b;
    
    /* Tamaño de fuente base (Tu ajuste anterior) */
    font-size: 14px;
  }

  /* Ajuste para pantallas grandes */
  @media (min-width: 1536px) {
    :root {
      font-size: 16px;
    }
  }
}