@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-main antialiased selection:bg-primary-500 selection:text-black;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-surface-highlight rounded-full border-2 border-background;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-900;
}

/* Arreglo para el Autocomplete de Chrome en Dark Mode */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1E1E1E inset !important; /* Color surface-highlight */
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
}

@layer components {
  /* Tarjeta Estándar Voidly */
  .card-void {
    @apply bg-surface border border-border rounded-xl shadow-none;
  }
  
  /* Tarjeta Interactiva (Hover) */
  .card-void-hover {
    @apply transition-all duration-200 hover:border-primary-500/30 hover:bg-surface-highlight;
  }

  /* Input Voidly (No quema la vista) */
  .input-void {
    @apply bg-background border border-border text-text-main rounded-lg focus:ring-1 focus:ring-primary-500 focus:border-primary-500 placeholder-text-dim;
  }
}